extends layouts/main-viewboard.pug

block stylehead
	meta(name='boardId' content=board._id)
	link(rel='stylesheet' href='/bower_components/summernote/dist/summernote.css')
	link(rel='stylesheet' href='/bower_components/toastr/toastr.css')
	link(rel='stylesheet' href='/styles/smt-bootstrap.css')
	link(rel='stylesheet' href='/styles/viewboard.css')

block content
	div(class='panel panel-default' style='width : 200px; position: fixed; top: 25px; left: 15px; z-index: 100;')
		div(class='panel-body')
			select(@change="scaleChange($event)" class='form-control navbar-btn input-sm')
				option(value="1") 100%
				option(value="0.9") 90%
				option(value="0.8") 80%
				option(value="0.7") 70%
				option(value="0.6") 60%
				option(value="0.5") 50%
				option(value="0.4") 40%
				option(value="0.3") 30%
				option(value="0.2") 20%
			
			if isUserBoardOwner && user != null
				button(
					v-bind:disabled="!isUserOwnerOfBoard" 
					style="background-color: #1702f9; color: white;" 
					class='btn navbar-btn btn-sm btn-block' 
					@click="openCreateBoardToCreateContention()"
					data-toggle='popover',
					data-content='Buat Kesimpulan'
					data-trigger='hover'
					data-placement="right" 
				) Buat Kesimpulan
			button(
				class='btn btn-primary navbar-btn btn-sm btn-block' 
				data-toggle='popover',
				title=board.title
				data-content='oleh ' + board.user.name
				data-trigger='hover'
				v-cloak
			) Mengenai Board Ini
				
			if !isUserBoardOwner && user != null
				div()
					
					button(
						class='btn btn-danger navbar-btn btn-sm btn-block' 
						data-toggle='popover',
						data-content='Permintaan menjadi kolaborator anda ditolak'
						data-trigger='hover'
						v-if="!isUserCollaborator && !isUserInRequestingToBeCollaborator && isUserCollaboratorRequestRejected"
						v-cloak
					) Permintaan anda ditolak

					button(
						class='btn btn-warning navbar-btn btn-sm btn-block' 
						data-toggle='popover',
						data-content='Menunggu persetujuan pemilik board'
						data-trigger='hover'
						v-if="!isUserCollaborator && isUserInRequestingToBeCollaborator"
						v-cloak
					) Menunggu persetujuan

					button(
						class='btn btn-success navbar-btn btn-sm btn-block' 
						data-toggle='popover',
						data-content='Jika anda ingin gabung ke board ini, klik tombol ini'
						data-trigger='hover'
						v-if="!isUserCollaborator && !isUserInRequestingToBeCollaborator && !isUserCollaboratorRequestRejected && !loadings.requestToBeCollaborator"
						@click="requestToJoinBoard()"
						v-cloak
					) Gabung ke board ini
					button(
						class='btn btn-success navbar-btn btn-sm btn-block' 
						v-if="loadings.requestToBeCollaborator"
						v-bind:disabled="loadings.requestToBeCollaborator"
					) 
						span(class="glyphicon glyphicon-refresh glyphicon-spin")

					button(
						class='btn btn-success navbar-btn btn-sm btn-block' 
						data-toggle='popover',
						data-content='Anda Sudah Tergabung Ke Board Ini, anda bisa membuat card di board ini'
						data-trigger='hover'
						v-if="isUserCollaborator && !isUserInRequestingToBeCollaborator && !isUserCollaboratorRequestRejected"
						v-cloak
					) Sudah Tergabung Ke Board Ini

			else if user == null
				div()
			else if user && isUserBoardOwner
				div()
					button(
						class='btn btn-success navbar-btn btn-sm btn-block' 
						data-toggle='popover',
						data-content='Board Anda'
						data-trigger='hover'
						v-cloak
					) Board Anda

				div()
					button(v-cloak class='btn btn-warning navbar-btn btn-sm btn-block' @click="openCollaboratorsModal()") Permintaan Kolaborator 
						span(class='badge' v-cloak) {{ numberOfCollaboratorsRequest }}
			
			if !isUserBoardOwner && user != null
				
				button(
					style="background-color: #ceb300; color: white;"
					@click="bookmarkThisBoard()"
					class='btn navbar-btn btn-sm btn-block' 
					data-toggle='popover',
					data-content='Tandai board ini agar anda mudah untuk menemukannya nanti'
					data-trigger='hover'
					v-cloak
					v-if="!isUserBookmarkedThisBoard && !loadings.bookmarkRequest"
				) Tandai Board Ini

				button(
					style="background-color: #020660; color: white;"
					@click="removeBookmarkThisBoard()"
					class='btn navbar-btn btn-sm btn-block' 
					data-toggle='popover',
					data-content='Anda sudah mendandai board ini'
					data-trigger='hover'
					v-cloak
					v-if="isUserBookmarkedThisBoard && !loadings.bookmarkRequest"
				) Hilangkan tanda dari board ini

				button(
					class='btn btn-default navbar-btn btn-sm btn-block' 
					v-if="loadings.bookmarkRequest"
				)
					span(class="glyphicon glyphicon-refresh glyphicon-spin")

	div(class='container-fluid')
		div(class='row')
			div(class="col-md-12")
				div(id="argumen-container" style="margin-top:100px; min-width: 10000px; min-height:5000px;")
					draggable-card(
						v-for="(card, index) in cards" 
						v-bind:user="user" 
						v-bind:card="card" 
						v-bind:index="index" 
						v-bind:scale="scale" 
						v-bind:leftsubtraction="leftSubtractValue" 
						v-bind:topsubtraction="topSubtractValue"
						v-bind:is-current-user-collaborator-of-board="isUserCollaborator" 
						v-bind:is-user-board-owner="isUserOwnerOfBoard" 
						v-on:drag-stop="saveCardPositionChange" 
						v-on:delete-card="openModalAndSetCardToBeDeleted" 
						v-on:create-related-card="createRelatedCard"
						v-on:connection-created="addCardConnection"
						v-on:card-destroyed="removeConnectionByCardId"
						v-on:change-card="openModalToChangeCard"
					) 
			
	div(class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="create-card-modal")
		div(class="modal-dialog modal-lg" role="document")
			div(class="modal-content")
				div(class="modal-header")
					h4() {{ createFormTitle }}
				div(class="modal-body")
					div(class='form-group has-feedback' v-bind:class="{ 'has-error' : formsError.createCard.title.error }")
						label(class='control-label') Isi
						textarea(class='form-control' v-model="forms.createCard.title" rows="6")
						p(class='help-inline' style="margin-top: 5px;" v-if="formsError.createCard.title.error") {{ formsError.createCard.title.message }}
					div(class='form-group')
						label(class='label-control') Catatan 
							span(style='font-size:11px;') (Anda bisa menambahkan catatan berupa penjelasan, referensi, link, gambar, link video)
						div(id="content-editor")
					div(class='form-group')
						button(class='btn btn-success btn-sm submit-button' @click="createCard($event)" v-if="!loadings.cardSubmit") Simpan
						button(class='btn btn-success btn-sm submit-button' v-if="loadings.cardSubmit")
							span(class="glyphicon glyphicon-refresh glyphicon-spin")

						button(class='btn btn-danger btn-sm' v-if="!loadings.cardSubmit" @click="closeCreateCardModal()") Tutup
						button(class='btn btn-danger btn-sm' v-if="loadings.cardSubmit" v-bind:disabled="loadings.cardSubmit") Tutup

	div(class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="delete-card-confirmation-modal")
		div(class="modal-dialog modal-md" role="document")
			div(class="modal-content")
				div(class="modal-header")
					h4() Hapus Card Ini ?
				div(class="modal-body")
					div(class='row')
						div(class='col-md-12')

							button(class='btn btn-success btn-sm' v-if="!loadings.cardDelete" @click="closeDeleteCardConfirmationModal()") Tidak
							button(class='btn btn-success btn-sm' v-if="loadings.cardDelete" v-bind:disabled="loadings.cardDelete") Tidak

							button(v-if="!loadings.cardDelete" class='btn btn-danger btn-sm delete-card-button' @click="deleteCardByIndex()") Ya
							button(v-if="loadings.cardDelete" v-bind:disabled="loadings.cardDelete" class='btn btn-danger btn-sm delete-card-button')
								span(class="glyphicon glyphicon-refresh glyphicon-spin")

	if isUserBoardOwner

		div(class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="collaborator-modal")
			div(class="modal-dialog modal-md" role="document")
				div(class="modal-content")
					div(class="modal-body")
						div(class='row')
							div(class='col-md-12')
								h5() Kolaborator
								table(class='table table-default table-striped table-bordered')
									thead()
										tr()
											th(class='text-center') Gambar 
											th(class='text-center') Nama
									tbody(v-if="boardCollaborators.length")
										tr(v-for="collaborator in boardCollaborators")
											td(class='text-center')
												img(v-bind:src="collaborator.profilePic")
											td(class='text-center') {{ collaborator.name }}
									tbody(v-if="!boardCollaborators.length")
										tr()
											td(colspan='2' class='text-center') Tidak Ada Kolaborator
							div(class='col-md-12')
								h5() Permintaan Kolaborator
								
								p(style="font-size: 13px; color: red;") Sekali anda memasukan seseorang sebagai kolaborator, anda tidak bisa mengeluarkannya, perhitungkan sebelum menerima seseorang. Hal ini dilakukan agar jika terjadi debat, pemilik board tidak bisa mengeluarkan seorang kolaborator yang lebih unggul dalam argumennya.

								table(class='table table-default table-striped table-bordered')
									thead()
										tr()
											th(class='text-center') Gambar
											th(class='text-center') Nama
											th(class='text-center') 
									tbody(v-if="collaboratorsRequest.length")
										tr(v-for="(collaborator, index) in collaboratorsRequest")
											td(class='text-center')
												img(v-bind:src="collaborator.profilePic")
											td(class='text-center') {{ collaborator.name }}
											td(class='text-center')
												
												button(v-if="!loadings.acceptJoin && !loadings.rejectJoin" class='btn btn-success btn-sm collaborate-button' @click="acceptCollaboratorRequest(collaborator.userId, index)") Terima
												button(v-if="loadings.rejectJoin || (index != tobe.acceptedCollaboratorRequestIndex && null != tobe.acceptedCollaboratorRequestIndex)" v-bind:disabled="loadings.rejectJoin || (index != tobe.acceptedCollaboratorRequestIndex && null != tobe.acceptedCollaboratorRequestIndex)" class='btn btn-success btn-sm collaborate-button') Terima
												button(v-if="loadings.acceptJoin && index == tobe.acceptedCollaboratorRequestIndex" class='btn btn-success btn-sm collaborate-button')
													span(class="glyphicon glyphicon-refresh glyphicon-spin")

												button(v-if="!loadings.acceptJoin && !loadings.rejectJoin" class='btn btn-danger btn-sm collaborate-button' @click="rejectCollaboratorRequest(collaborator.userId, index)") Tolak
												button(v-if="loadings.acceptJoin || (index != tobe.rejectedCollaboratorRequestIndex && tobe.rejectedCollaboratorRequestIndex != null)" v-bind:disabled="loadings.acceptJoin || (index != tobe.rejectedCollaboratorRequestIndex && tobe.rejectedCollaboratorRequestIndex != null)" class='btn btn-danger btn-sm collaborate-button') Tolak
												button(v-if="loadings.rejectJoin && index == tobe.rejectedCollaboratorRequestIndex" class='btn btn-danger btn-sm collaborate-button')
													span(class="glyphicon glyphicon-refresh glyphicon-spin")
									
									tbody(v-if="!collaboratorsRequest.length")
										tr()
											td(colspan='3' class='text-center') Tidak Ada Permintaan
							div(class='col-md-12')
								div(class='pull-right')
									button(class='btn btn-danger btn-sm' @click="hideCollaboratorsModal()") Tutup

block scriptHead
	script(type='text/javascript' src='/bower_components/jquery/dist/jquery.min.js')
	script(type='text/javascript' src='/bower_components/jquery-ui/jquery-ui.min.js')
	

block script
	script(type='text/javascript' src='/bower_components/bootstrap/dist/js/bootstrap.js')
	script(type='text/javascript' src='/bower_components/vue/dist/vue.js')
	script(type='text/javascript' src='/bower_components/summernote/dist/summernote.js')
	script(type='text/javascript' src='/bower_components/summernote/lang/summernote-id-ID.js')
	script(type='text/javascript' src='/bower_components/jsplumb/dist/js/jsplumb.js')
	script(type='text/javascript' src='/bower_components/ramda/dist/ramda.js')
	script(type='text/javascript' src='/bower_components/socket.io-client/dist/socket.io.js')
	script(type='text/javascript' src='/bower_components/toastr/toastr.js')
	script(type='text/javascript' src='/models/board.js')
	script(type='text/javascript' src='/models/card.js')
	script(type='text/javascript' src='/models/user.js')
	script(type='text/javascript' src='/models/relation.js')

	script(type='text/javascript' src='/forms/create-card.form.js')

	script(type='text/javascript' src='/vue_components/draggable-card.component.js')

	script(type='text/javascript' src='/scripts/viewboard.js')
		